* {
    box-sizing: border-box;
}
main {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
h1 { 
    font-size: 150%;
}
h1,h2,h3 { 
    text-align: center;
    border: 1px solid #000000;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 23px;
    font-size: 24px;
    }

h2 {
    font-family: 'Open Sans', sans-serif;
/*  text-transform: capitalize; */
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 2px;
    }

p {
    font-family: 'Open Sans', sans-serif;
  /*  font-family: 'Dancing Script', cursive; */
    font-size: 20px;
    line-height: 1.4;
    padding-left:    5px;
    padding-right:   5px;
}

a {
    color: black;
    text-decoration: none; 
}

.logo-container {
    margin-top: 25px;
    clear: left;
 }

 .logo-list {
     list-style-type: none;
     margin-left: 0px;
     margin-top: 5px;
     margin-bottom: 5px;
 }
 .logo-li-item {
     padding-bottom: .25em;
/*   margin-top:  .25em; */
     margin-bottom:  .0em;
 }
 .logo-image {
     width: 35px;
     margin-right: 5px;
     border: 1px solid #d5d5d5;
     aspect-ratio: 4/3;
     float: left;
 }
 .logo-tagline-top {
     color: #ffffff;
     font-size: 1em;
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-style: italic;
 }

 .logo-tagline-bot {
     color: #000000;
     font-size: 1em;
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-style: italic;
 }

body {

    margin: 0 auto;
    background-color:   #000000;
}
.border-radius {
    border-radius: 50%;
}

.logo-company-name {
    color: #ffffff;
    padding: 5px;
    margin-right: 2.5px;
    margin-bottom: 0px;
}

#page {
    margin: 10px auto;
    background-color: #000000;
    color: #ffffff;

    display: none;
}
#tribute-display {
    margin: 0 auto;
}
.dummy-content {
    visibility: hidden;
}
#page-1 {
    max-width: 600px;
    text-overflow:      ellipsis;
    overflow:           hidden;
    background-image:   url("../images/cover-photo-2.jpg");
    background-size:    cover; 
    background-repeat:  round;
    padding: 10px;
    margin: 25px auto;
    background-color: #ffffff;
    color: #000000;
    border: 5px solid #cc0000;
/*    box-shadow: 12px 12px 16px 0 rgba(256,0,0.24),0 17px 50px 0 rgba(256,0,0,0.19); */
}
#page-2 {
    max-width: 600px;
    padding: 10px;
    margin: 25px auto;
    background-color: #ffffff;
    color: #000000;
    border: 5px solid #FFD700;
/*    box-shadow: 12px 12px 16px 0 rgba(256,0,0.24),0 17px 50px 0 rgba(256,0,0,0.19); */
}
#page-3 {
    max-width: 600px;
    padding: 10px;
    margin: 25px auto;
    background-color: #ffffff;
    color: #000000;
    border: 5px solid #FFD700;
/*    box-shadow: 12px 12px 16px 0 rgba(256,0,0.24),0 17px 50px 0 rgba(256,0,0,0.19); */
}
#page-4 {
    max-width: 600px;
    padding: 10px;
    margin: 25px auto;
    background-color: #ffffff;
    color: #000000;
    border: 2.5px solid #cc0000;
/*    box-shadow: 12px 12px 16px 0 rgba(256,0,0.24),0 17px 50px 0 rgba(256,0,0,0.19); */
}

ol,ul {
    margin-left: 5px;
}
.paragraph-hdr-1 {
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
    line-height: .5;
}
.paragraph-hdr-2 {
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
}
.paragraph-hdr-3 {
    font-size: 1.125em;
    font-weight: bold;
}

.christmas-red-color {
    text-shadow: 5px 5px 5px #000000;
    box-shadow: 12px 12px 16px 0 rgba(47,115,54,0.50),0 17px 50px 0 rgba(47,115,54,0.50);
    background-color: #cc0000;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}


.mom-dad-accent-color {
    text-shadow: 5px 5px 5px #000000;
    background: #2F7336;
    color: #ffffff;
    font-size: 1.125em;
    font-style: italic;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.christmas-green-color {
    text-shadow: 5px 5px 5px #000000;
    background-color: #2F7336;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

ol {
    padding-left: 0px;
    list-style: none;
}

li {
    padding-bottom: .25em;
    margin-bottom:  .30em;
}
li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125em;
    padding-left:    5px;
    padding-right:   5px;
}


li ol li:hover {
    cursor: pointer;
}

#page-1-title-1 {
    margin-top: 15px;
    margin-bottom: 7px;
    text-align: center;
}

#page-1-title-1-text
{
/*  color: #FFD700; */
    background: #cc0000;
    text-shadow: 5px 5px 5px #000000;
    box-shadow: 12px 12px 16px 0 rgba(47,115,54,0.50),0 17px 50px 0 rgba(47,115,54,0.50);
    color: #ffffff;
    text-align: center;
    font-size: 1.50em;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}

#page-1-title-2 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#page-1-title-2-text
{
    background: #cc0000;
/*  background: #2F7336; */
    text-shadow: 5px 5px 5px #000000;
    box-shadow: 12px 12px 16px 0 rgba(47,115,54,0.50),0 17px 50px 0 rgba(47,115,54,0.50);
    color: #ffffff;
    font-size: 1.50em;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}

#page-2-title-1 {
    margin-top: 20px;
    margin-bottom: 7px;
    text-align: center;
}

#page-2-title-1-text
{
    background: #cc0000;
    text-shadow: 5px 5px 5px #000000;
    box-shadow: 12px 12px 16px 0 rgba(47,115,54,0.50),0 17px 50px 0 rgba(47,115,54,0.50);
    color: #ffffff;
    font-size: 1.125em;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}

#page-2-title-2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

#page-2-title-2-text
{    
    background: #cc0000;
    text-shadow: 5px 5px 5px #000000;
    box-shadow: 12px 12px 16px 0 rgba(47,115,54,0.50),0 17px 50px 0 rgba(47,115,54,0.50);
    color: #ffffff;
    text-align: center;
    font-size: 1.125em;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #000000;
}

#page-3-title-1 {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}

#page-3-title-1-text
{
    background: #c2adeb;
    font-size: 1.50em;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}

#page-3-title-2 {
    text-align: center;
    margin-bottom: 10px;
}

#page-3-title-2-text
{
    background: #c2adeb;
    font-size: 1.50em;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}


#page-3-title-3 {
    text-align: center;
    margin-bottom: 10px;
}

#page-3-title-3-text
{
    background: #c2adeb;
    font-size: 1.50em;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}

.first-caption {
    margin-top: 30px;
}

.bible-passage {
    font-size: 1.20em;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.bible-passage-content {
    background-color: #770000;
    color: #ffffff;
    font-size: 1.15em;

}

.bible-verse {
    color: #ffffff;
    background-color: #770000;
    font-style: italic;
}

.author {
    background-color: #770000;
    color: #ffffff;
}

.author-signature {
    margin: 0 auto;
    text-align: center;
    clear: both;
}
.author-photo {
    width: 85px;
    height: 85px;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 1px solid #d5d5d5;
}

.quote-color {
/*    font-weight: bold; */
}
#narrative {
    margin: 5px;
}

footer {
}

#page-1-image
 {
    max-width:  100%;
    background: #a5a5a5;
    margin-top: 5px;
    margin-bottom: 5px;
    aspect-ratio: 3 / 4;
    border-radius: 50%;
    box-shadow: 12px 12px 16px 0 rgba(47,115,54,0.50),0 17px 50px 0 rgba(47,115,54,0.50);
}

#page-2-image
 {
    max-width:  100%;
    background: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
    aspect-ratio: 3 / 4;
    border-radius: 50%;
    box-shadow: 12px 12px 16px 0 rgba(47,115,54,0.50),0 17px 50px 0 rgba(47,115,54,0.50);
}

#page-1-figcaption {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 7px;
}

#page-1-figcaption-text {
    text-shadow: 5px 5px 5px #000000;
    box-shadow: 12px 12px 16px 0 rgba(47,115,54,0.50),0 17px 50px 0 rgba(47,115,54,0.50);
    background: #cc0000;
    color: #ffffff;
    font-size: 1.125em;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}

#page-2-figcaption-1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 7px;
}

#page-2-figcaption-1-text {
    text-shadow: 5px 5px 5px #000000;
    box-shadow: 12px 12px 16px 0 rgba(47,115,54,0.50),0 17px 50px 0 rgba(47,115,54,0.50);
    background: #cc0000;
    color: #ffffff;
    font-size: 1.125em;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}

#page-2-figcaption-2 {
    text-align: center;
    margin-bottom: 15px;
}

#page-2-figcaption-2-text {
    text-shadow: 5px 5px 5px #000000;
    box-shadow: 12px 12px 16px 0 rgba(47,115,54,0.50),0 17px 50px 0 rgba(47,115,54,0.50);
    background: #cc0000;
    color: #ffffff;
    font-size: 1.125em;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}
.parent-photo-container {
    
}

#dad-photo
 {
    width:  100px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
    aspect-ratio: 3 / 4;
    box-shadow: 12px 12px 16px 0 rgba(47,115,54,0.50),0 17px 50px 0 rgba(47,115,54,0.50);
    float: left;
}

#mom-photo
 {
    width:  100px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
    aspect-ratio: 3 / 4;
    box-shadow: 12px 12px 16px 0 rgba(47,115,54,0.50),0 17px 50px 0 rgba(47,115,54,0.50);
    float: left;
}

#logo-signature {
}

#qr-code
 {
    width:  100px;
    height: 100px;
    margin-bottom: 5px;
    aspect-ratio: 3 / 4;
    float: right;
}

.text-center {
    text-align: center;
}

#copyright-1,
#copyright-2,
#email-contact-us,
#company-name
{
    width:  225px;
    margin: auto;
    font-size: 12px;
    font-weight: bold;
    background: #000000;
    color: #ffffff;
    display: none;
}
#copyright-2 {
    margin-bottom: 5px;
}
/*------------------------*/
/*- Scott Family History -*/
/*------------------------*/
.author-comments {
    font-size: 1.135em;
    font-weight: bold;
}

.caption-color {
background-color:   #454545;
color:        #f5f5f5;
text-align:   center;
border: 1px solid #000000;
}
/*------------------------*/
/*- Scott Family History -*/
/*------------------------*/
